body {
 background-color: #eec0c6;
background-image: linear-gradient( #eec0c6 , #7ee8fa);
font-family: 'Orbitron', sans-serif;
}
.circle-button{
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: auto 0;
}
