body{
  background-color:#254558;}

/* .welcomePage {
  position: absolute;
  width: 600px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;

  

} */
.container {
  display: grid;
}

.p-home {
  margin-left: 240px;
}
.h-home{
  margin-left: 240px;
  font-weight: bold;
}
.Readmore {
  margin-left: 240px;
  color: black;
  border-radius: 10px;
  width: 150;
}

.rounded-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}