.likes {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(133, 133, 133);
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: tomato;
}

.even {
  background-color: blue;
}
.odd {
  background-color: red;
}
button {
  background: #e3ab42;
  display: inline-block;
  margin: 1rem;
  height: 30px;

  border-radius: 5px;
  align-items: center;
}
main {
  padding: 2rem;
  height: 350px;
  text-align: center;
  background: linear-gradient(#159957, #155799);
}
