.form {
  background: #6603fc;
  color: white;
}
form {
  padding: 2rem;
}
label {
  width: 200px;
  display: inline-block;
}

form div {
  margin: 1rem;
}

input,
textarea {
  background: #f4f4f4;
  border: 1px solid #6603fc;
  width: 250px;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
}